<div x-mojo-element="Button" id="PlayButton"></div>
<button class="palm-button negative" id="StopButton">Stop</button>
<div id="version"></div>
<div id="area-to-update">Sample Audio area to update</div>
<!-- This is for 1.4 or greater it will start playing immediately when the scene is loads-->
<audio id="audio-a" width=100 height=30 autoplay="true" controls="true" x-palm-media-audio-class="media" src="/media/internal/ringtones/Rain Dance.mp3">
<audio id="audio-nav" controls="false" x-palm-media-audio-class="navigation"  src="sounds/song.mp3">

